/* COMMON */
a {
    text-decoration: none;
    color: white;
}

.section {
    padding: 15px 0;
}

.title-section {
    text-transform: uppercase;
}

.green-section {
    background-color: #1abc9c;
    color: white;
}
.star {
    margin-bottom: 25px;
}

.star i {
    font-size: 20px;
}
.star::before {
    content: " ";
    display: inline-block;
    width: 70px;
    height: 7px;
    border-top: 3px solid;
    margin-right: 10px;
}

.star::after {
    content: " ";
    display: inline-block;
    width: 70px;
    height: 7px;
    border-top: 3px solid;
    margin-left: 10px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

/* HEADER */
/* Nav */
header .nav-top {
    background-color: #2d3e4f;
    color: white;
    padding: 20px 0;
    text-transform: uppercase;
}

.logo {
    font-size: 20px;
}

.nav-top .menu,
.nav-top .burger {
    font-size: 13px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
    margin-right: 20px;
}

.burger a {
    border: 1px solid lightgray;
    padding: 4px 8px;
    border-radius: 5px;
}
/* Banner */
.avatar img {
    width: 200px;
}

.avatar{
    text-transform: uppercase;
}

/* MAIN */
/* Portfolio */
.box-img {
    margin-bottom: 30px;
}

.box-img img {
    border-radius: 10px;
}

/* About */
.small-wrapper{
    width: 70%;
    max-width: 900px;
    margin: auto;
}

.about p {
    font-size: 16px;
}

.about button i {
    margin-right: 5px;
}

.btn_download {
    background-color: #1abc9c;
    color: white;
    border: 1px solid white;
}

.btn_download:hover{
    background-color: white;
    color: #1abc9c;
}

/* Conctat Me */
.information input,
.message {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: 17px;
}

.information input {
    padding: 25px 0;
}

.message {
    padding: 0;
}

.information input::placeholder,
.message.form-control::placeholder {
    color: #2d3e4f;
}

.send_btn {
    margin: 15px 0;
}
/* FOOTER */
footer {
    color: white;
}

/* Follow Us */

.follow-us {
    background-color: #4c6f92;
}

.follow-us h4 {
    text-transform: uppercase;
    font-size: 20px;
}

.follow-us p {
    font-weight: 500;
    font-size: 15px;
}

.follow-us ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.follow-us li {
    display: inline-block;
    margin: 0 5px;
}

.link-social {
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
}

.link-social i {
    line-height: 40px;
}

.link-social:hover {
    background-color: white;
    color: #4c6f92;
}

.follow-us p a {
    color: #1abc9c;
}

/* Copyright */
.copyright {
    background-color: #2d3e4f;
}
