/* COMMON */
a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}
/* HEADER */
/* Nav */
header {
    color: white;
}

.nav {
    background-color: #204060;
}

header .row .row {
    text-align: right;
}

.nav {
    padding: 20px 0;
}

.burger {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Banner */
.banner {
    background-color: turquoise;
}

.title-banner {
    text-align: center;
    margin: auto;
    padding: 20px 0;
}

.title-banner img {
    width: 200px;
}

/* MAIN */
/* Portfolio */
.portfolio {
    text-align: center;
}

.title-main {
    padding-bottom: 15px;
    text-align: center;
}

.portfolio .row .row {
    margin-left: 20px;
    margin-right: 20px; 
}

/* png è la classe "Test" che sostituirà la immagini per questo esercizio */
.png {
    height: 250px;
    background-color: cornflowerblue;
    margin-bottom: 30px;
    border-radius: 15px;   
}

/* About */
.about {
    background-color: turquoise;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.small-wrapper{
    max-width: 970px;
    margin: auto;
}

.small-wrapper .row .row {
    text-align: left;
}

/* Conctat Me */
.small-wrapper .row .row {
    margin-right: 30px;
    margin-left: 30px;
}

.contact_me .row .row [class*="col-"] {
    border-bottom: 1px solid lightgray;
}

.message {
    padding-bottom: 50px;;
}

.contact_me button {
    margin: 15px 30px;
}

/* FOOTER */
/* Follow Us */
.follow-us {
    background-color: #4c6f92;
    color: white;
    text-align: center;
    padding: 25px 0;
}

/* Copyright */
.copyright {
    background-color: #204060;
    color: white;
    text-align: center;
}

.copyright h4 {
    padding: 25px 0;
}